{erl_opts, [ warnings_as_errors ]}.

{deps, [
    {ecall, {git, "https://github.com/vzroman/ecall.git", {branch, "main"}}}
]}.

%% The functional tests reach the internals of the modules (state
%% transformations), hence export_all under the test profile:
%%   ./rebar3 ct --spec test/functional/test.spec
%% ELOCK_TRACE compiles in the trace points of the lock calls (see
%% src/elock_trace.erl), they write only while a trace is started:
%% the performance tests start it with trace => true of
%% performance.config
{profiles, [
    {test, [
        {erl_opts, [ export_all, nowarn_export_all, {d, 'ELOCK_TRACE'} ]}
    ]}
]}.
