{erl_opts, [ warnings_as_errors ]}.

{deps, [
    {ecall, {git, "https://github.com/vzroman/ecall.git", {branch, "main"}}}
]}.


%% `rebar3 as test shell` then exposes test/elock_manager_perf.erl,
%% which is how the perf scenarios are driven by hand
{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, false}]}]}
    ]}
]}.
