{erl_opts, [ warnings_as_errors ]}.

{deps, [
    {ecall, {git, "https://github.com/vzroman/ecall.git", {branch, "main"}}}
]}.

%% The functional tests reach the internals of the modules (state
%% transformations), hence export_all under the test profile:
%%   ./rebar3 ct --spec test/functional/test.spec
{profiles, [
    {test, [
        {erl_opts, [ export_all, nowarn_export_all ]}
    ]}
]}.
