[
	{zaya, [
		{schema_dir,"./DB"},
		{stop_timeout,600000},	% 1 min
		{start_timeout,60000},	% 1 min
		{max_restarts, 10},
		{max_period, 1000},
		{db_recovery_attempts, 5},
		{copy,#{
			batch_size => 31457280,							% 30 MB
			remote => #{
				batch_size => 4194304,						% 4 MB
				attempts => 3,
				live => #{
					flush_tail_timeout => 1000			% 1 sec
				}
			}
		}}
	]}
].
