[
	{lager, [
		{log_root, "logs"},
		{handlers, [
			{lager_console_backend, debug},
			{lager_file_backend, [
				{file, "error.log"},
				{level, error},
				{size, 104857600}, % 100 MB
				{date, "$D0"},
				{count, 100}
			]},
			{lager_file_backend, [
				{file, "console.log"},
				{level, debug},
				{size, 104857600}, % 100 MB
				{date, "$D0"},
				{count, 100}
			]}
		]}
	]}
].
